.container-f {
    border: 1px solid #dedede;
    background-color: #bebebe7e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: rgba(128, 125, 125, 0.288);
  }
  
  .container-f::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container-f img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container-f img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: rgb(78, 78, 78);
    font-size: small;
  }
  
  .time-left {
    float: left;
    color: rgb(78, 78, 78);
    font-size: small;
  }
  
