.mbs{
  border: 2px solid gray;
  border-radius: 5px;
  height: 90vh;
  padding: 2vh;
  margin: 2vh 2vh 2vh 2vh;
  position: fixed;
  width: 605px;
  padding-bottom: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.bdv{
  margin-left: 3vh;
  border: none;
  background-color: lightgreen;
  padding: 4px;
  font-weight: bold;
  width: 10vh;
  border-radius: 5px;
}
.bdv:hover{
  background-color: red;
}


.vncvn{
  text-align: right;
}


#code{
  margin-left: 3vh;
}


#rid{
  border: 1px solid lightblue;
  outline: none;
  border-radius: 1vh;
  padding: .5vh;
  width: 35vh;
  margin-top: 1vh;
}

#sendBtn{
  padding: 4px;
  width: 3rem;
  background-color: rgb(71, 247, 71);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}

@media only screen and (max-width: 1200px) {
  .ex-code{
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .ex-code{
    display: none;
  }
  .mbs{
    width: 600px;
  }
}
@media only screen and (max-width: 800px) {
  .mbs{
    width: 550px;
  }
}
@media only screen and (max-width: 500px) {
  .mbs{
    width: 340px;
  }
}

.container2 img {
  float: left;
  max-width: 35px;
  width: 100%;
  margin-right: 5rem;
  border-radius: 50%;
  margin-top: .3rem;
}
.container2 img.right {
  float: right;
}
.dotIcon:after{
    
  content: '\2807';
  font-size: 3.5vh;
  color: rgb(107, 107, 107);
  text-align: left;
  padding: 2vh;
}
#join{
  font-size: small;
}