.mbs{
  border: 1px solid black;
  height: 90vh;
  padding: 2vh;
  margin: 2vh 2vh 2vh 2vh;
  position: fixed;
  width: 605px;
  overflow-y: auto;
}
.bdv{
  margin-left: 2vh;
  border: none;
  background-color: darkgray;
}
.bdv:hover{
  background-color: goldenrod;
}
.bfbvc{
  margin-bottom: 4vh;
}

.vncvn{
  text-align: right;
}
#you{
  text-align: right;
  margin-top: 1vh;
  margin-bottom: 5vh;
}
#other{
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 5vh;
  
}
#name{
  font-size: 11px;
  color: darkgray;
  margin-bottom: -1.2vh;
}
#time{
  font-size: 11px;
  color: darkgray;
  margin-top: -1.5vh;
}
#code{
  margin-left: 3vh;
}
#uname{
  font-weight: bold;
  margin-left: 5vh;
}
#rid{
  border: 1px solid black;
  border-radius: 1vh;
  padding: .5vh;
  width: 35vh;
  margin-top: 1vh;
}
@media only screen and (max-width: 1100px) {
  .mbs{
    height: 92vh;
    width: 600px;
  }
}
@media only screen and (max-width: 800px) {
  .mbs{
    height: 94vh;
    width: 600px;
  }
}
@media only screen and (max-width: 500px) {
  .mbs{
    height: 94vh;
    width: 340px;
  }
}